<div ng-app="app">

  <div ng-controller="peopleCtrl" ng-init="setup()">
  <p></p> 
    <h1>Number of Bios: {{people.length}}</h1>
    <div ng-repeat="person in people">
      <h2 ng-click="toggleBio(person)">{{person.name}}</h2>
      <p ng-if="person.bioVisible">{{person.bio}}</p>

      <div>
        Name: <input ng-model="person.name" ng-keyup="updatePerson(person)">
        Bio: <input ng-model="person.bio" ng-keyup="updatePerson(person)">
  
      </div>
      <button ng-click="deletePerson(person, $index)">Delete Artist</button>
    </div>
    Add Person:
    <div>
      Name: <input ng-model="personName">
      Bio: <input ng-model="personBio">
      <button ng-click="addPerson(personName, personBio)">Add Person</button>
    </div>
  </div>
</div>